@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button id="detectBtn" class="btn btn-primary" style="margin-top: 20px;">Cihazı Tespit Et</button>
    <p id="result" style="margin-top:10px;">Cihaz bekleniyor...</p>
</div>

<!-- JS dosyasını bu sayfaya bağla -->
<script src="~/js/deviceDetect.js"></script>
